body{
margin:0;
padding:0;
}
  .links{
    display: flex;
    padding-left: 5px;
  }
  .buton{
    color: rgb(202, 172, 1);
    margin-left: 50px;
    background-color: indigo;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    font-size: medium;
  }
 .ovettapic{
   height: auto;
   display: none;
  position: relative;}
  .buttons{
    margin-left: 250px;
    margin-top: 20px;
  }
  .adress{
    margin-top: 30px;
    font-size: large;
    margin-left: 30px;
  }
  .h2s{
    color: indigo;
    font-family: Bernard MT Condensed;
  }
  .ps{
    font-family: Bahnschrift Condensed;
  }
  .pse{
    font-family: Bahnschrift Condensed;
    font-size: 20px;
  }
  .background{
    display: none;
  }
  @media only screen and (max-width: 668px ) {
 .background{
   display: block;
 }
 .buttons{
   display: none;
 }
 .header{
  padding-left: 20px;
  text-align: center;
 }
  .ovettapic{
   display: block;
   width: 100%;
   margin-top: 40PX;
   height: 35%;
  }
  .picture{
    display: none;
  }
  .adress{
   margin-top: -30px;
   margin-left: -0.5;
  }
  }
  @media only screen and (max-width: 1000px){
    .background{
      display: block;
    }
    #buton{
      display: none;
    }
    .picture{
      display: none;
    }
    .ovettapic{
      display: block;
      width: 100%;
      margin-top: 40PX;
      height: 45%;
     } 
     .adress{
      margin-top: -30px;
      margin-left: -0.5;
     }  
     .header{
       text-align: center;
     }
  }
