.header{
    position: fixed;
    top:0%;
    width: 100%;
    z-index: 2;
}
body{
    margin: 0%;
}
.nav{
   
   height: 75px;
    display: flex;
}

.logodiv{
    width: 49%;
   padding: 25px;
   font-size: 4vw;
}
.menu{
 float: left;
 width: 50%;
 

}
.menuli{ 
  text-align:center;
  display:flex;
}
.li{
    padding-right: 1vw;
    font-size: 1.5vw;
    
}
.hamburger{
    color: darkorange;
    display: grid;
    place-items: center;
    float: left;
   width: 20%;
 
}
.navlink{
    text-decoration: none;
    color: darkorange;   
}
.navlink:hover{
    text-decoration: underline;
    color: white;
}
.navlink:active{
    color: burlywood;

}
@media (min-width:680px){
    .hamburger{
        display: none;
    }
    .imgtxt{
        font-size: 7vh;
    }
    .logodiv{
        font-size: 2vw;
    }
    
}
@media (max-width:680px) {
    .menuli{
        display: none;
    }

    
}