.header{
    position: fixed;
    top:0%;
    width: 100%;
    z-index: 99;
}
body{
    margin: 0%;
}
.nav{
   
   height: 75px;
    display: flex;
}

.logodiv{
    width: 49%;
   padding: 25px;
   font-size: 4vw;
}
.menu{
 float: left;
 width: 50%;
 

}
.menuli{ 
  text-align:center;
  display:flex;
}
.li{
    padding-right: 1vw;
    font-size: 1.2vw;
    
}
.hamburger{
    color: darkorange;
    display: grid;
    place-items: center;
    float: left;
   width: 20%;
 
}
.navlink{
    text-decoration: none;
    color: darkorange;   
}
.navlink:hover{
    text-decoration: underline;
    color: white;
}
.navlink:active{
    color: burlywood;

}
.aboutus{
    color: #4b0076f8;
    padding: 10vw;
    padding-top: 2vw;
    font-size: 2vw;
    background-color: rgba(164, 198, 250, 0.39);
    word-spacing: 1vw;
}
.aboutcompany{
    display: flex;
   flex-wrap: initial;
   padding: 2vw;
}
.acimg{
    flex: 1000px;
}
.acd{
    flex: 5;
    font-size: 2vw;
}
.pics{
    max-width: 100%;
}
@media (min-width:680px){
    .hamburger{
        display: none;
    }
    .imgtxt{
        font-size: 7vh;
    }
    .logodiv{
        font-size: 2vw;
    }
    .acimg{
        flex: 100%;
    }
    
}
@media (max-width:680px) {
    .menuli{
        display: none;
    }

    
}