.header{
    position: fixed;
    top:0%;
    width: 100%;
    z-index: 99;
}
body{
    margin: 0%;
}
.nav{
   
   height: 75px;
    display: flex;
}

.logodiv{
    width: 49%;
   padding: 25px;
   font-size: 4vw;
}
.menu{
 float: left;
 width: 50%;
 

}
.menuli{ 
  text-align:center;
  display:flex;
}
.li{
    padding-right: 1vw;
    font-size: 1.2vw;
    
}
.hamburger{
    color: darkorange;
    display: grid;
    place-items: center;
    float: left;
   width: 20%;
 
}
.navlink{
    text-decoration: none;
    color: darkorange;
    display: block;   
}
.navlink:hover{
    text-decoration: underline;
    color: black;
}
.navlink:active{
    color: burlywood;

}
.aboutus{
    color: #4b0076f8;
    padding: 10vw;
    padding-top: 2vw;
    font-size: 2vw;
    background-color: rgba(164, 198, 250, 0.103);
    word-spacing: 1vw;
}
.aboutcompany{
    font-size: 2vw;
    display: flex;
    flex-wrap: wrap;
    
 
}
.acimg{
    flex: 50%;
  
    right: 0%;
    
}
#aboutimg{
    width: 100%;
    
}
.abd{
    flex: 45%;
   
    padding: 2vw;
    padding-top: 0%;
 
    
}
.pics{
   
}
.owners{
    display: flex;
    flex-wrap: wrap;
    font-size: 2vw;
  }
  .boxowners{
      flex: 25%;
    
  }
  .card{
    box-shadow: black;
    margin: 1.5vw;
    background-color: rgba(223, 223, 224, 0.041);
    padding: 0px;
    position: relative;
    border: 1px solid #4b0076f8;
    border-radius: 10px;

  }
  .imgcard{
    max-width: 100%;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}



@media (min-width:680px){
    .hamburger, .abouth1, .mylinks{
        display: none;
    }
    .imgtxt{
        font-size: 7vh;
    }
    .logodiv{
        font-size: 2vw;
    }

    
}
@media (max-width:680px) {
    .menuli, .abouth2, .mylinks{
        display: none;
    }
    .abd, .acimg{
        flex: 100%;
    }
    .container{
        height: 250px;
    }
    .aboutus, .aboutcompany{
        font-size: 3vw;
       
    }
    .menu{
        flex-direction: column;
       align-items: flex-start;
    }
   .menuli{
       flex-direction: column;
   }
   .boxowners{
    flex: 100%;
    width: 100%;
    }
    .card{
        margin: 2rem;
    }
    
}