
.nav{
    background-color:#4b0076c4;
}
.brand{
   color:#f8a100;
   font-weight: 800;
   font-style: italic;
}

li{
  list-style: none;
}

.container{
  display: grid;
 place-items: center left;
 background: linear-gradient(to right, rgba(50, 70, 80, 0.7), rgba(30, 20, 150, 0.7));
  width: 100%;
  height: 500px;
 position: relative;
  background-size: contain;
  background-position: center;
  z-index: 0;
  background-color: #4b007633;
}
.overla{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: #4b007683;
 z-index: 0;
}
.imgtxt{
  z-index: 1;
  color: #f7d28d ;
  padding: 10vw;
  font-size: 5vw;
  font-weight: 900;
  height: 20%;
}
.students{
  
  font-size: 1.7vw;
  color: #4b0076fb;
  text-decoration: underline;
}
.students:hover{
  font-size: 1.7vw;
  transition: 2s;
}
.cardtitle{
  color: #4b0076;
}
.studentdiv{
  background-color: rgba(164, 198, 250, 0.103);
  padding: 6rem;
}
.footer{
  background-color: #4b0076;
  position: absolute;
  width: 100%;
  
}
.footerbottom{
  color: #f7f6f4;
  border-top: 1px solid #f8a10041;
}
.footertop{
  display: flex;
  flex-wrap: wrap;
  color: #f8a100;
}
.spacer{
  height: 100px;
}
.hrstyle{
  width: 20%;
  border: 1px dashed #4b0076;
}
